{% extends 'base.html' %}
{% load static %}
<!-- banner Start -->
{%block our_offer %}
<style>

.bg-offer {
    background:url({% static 'other/img/unnamed4.jpg' %}) center center no-repeat;
    background-size: cover;
}
</style>
<!-- Page Header Start -->
    <div class="container-fluid bg-dark bg-offer bg-img p-5 mb-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-6 text-uppercase text-white">About Movies Success</h1>
                <a href="">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href="">About</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- About Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="section-title position-relative text-center mx-auto mb-5 pb-3" style="max-width: 600px;">
                <h2 class="text-primary font-secondary">About Us</h2>
                <h6 class="display-6 text-uppercase">Welcome To Our Movies Success Prediction</h6>
            </div>

            <!-- Testimonial Start -->
    <div class="container-fluid py-5">
            <div class="owl-carousel testimonial-carousel">
                <div class="testimonial-item bg-dark text-white border-inner p-4">
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid" src="{% static 'other/img/unnamed2.jpg' %}" >
                </div>
                </div>
                <div class="testimonial-item bg-dark text-white border-inner p-4">
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid" src="{% static 'other/img/unnamed0.jpg' %}">

                    </div>
                </div>
                <div class="testimonial-item bg-dark text-white border-inner p-4">
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid " src="{% static 'other/img/unnamed1.jpg' %}">
                    </div>

                </div>
                <div class="testimonial-item bg-dark text-white border-inner p-4">
                    <div class="d-flex align-items-center mb-3">
                        <img class="img-fluid" src="{% static 'other/img/unnamed.jpg' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->



            <div class="row gx-5">
                <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="{% static 'other/img/DaveBestMovies.jpg' %}" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 pb-5">
                    <h4 class="mb-4">What you don't know about Prediction of Movies</h4>
                    <p class="mb-5">Movies are the best way of for entertaining people for a long time.
                        It is the best way to enjoy but everything depend upon the type of movies and
                        their success rate.  That’s why only few movies get success and higher ratings
                        among other movies produced by the industry in a year. Movie revenue is totally
                        based on various components of the movies such as the actors working in the movie,
                        past success of those actors, film critics review, rating for the movie, release year,
                        time, date etc.  of the movie. We don’t have any formula that can help us to provide analysis
                        for predicting how much revenue a particular movie is generating because of these multiple
                        components and criteria. But by analyzing the revenues generated by previous movies,
                        a model can be built which can act helpful to predict the expected revenue for a particular movie. </p>
                                        </div>
                </div>
            </div>
        </div>
    </div>
<br />
<br />
    <!-- About End -->

{%endblock%}
